body {
    background-color: #111;
    color: #eee;
    font-family: "Helvetica";
    overflow: hidden;
    margin: 0;
}

p {
    color: #999;
}

#map {
	width: 100%;
	height: 100%;
}

/*svg map*/
path {
	stroke: #666;
	fill: #333; 
	stroke-width: 0.5;
}

circle.firstLayer {
	fill: #ef4d0d;
	opacity:.5;

}

circle.secondLayer {
	fill: #d456ef;
	opacity:.5;
}

circle:hover {
	cursor:pointer;
	opacity:.8;
	fill: #30a3ec;
}
